<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos</title>
    <link rel="stylesheet" href="/CadPlanos/assets/style.css">
</head>
<body>

  
    <img src="/CadBarraqueiro/assets/img/logo.png" class="logo">

    <div class="container">
        <div class="titulos">
            <div class="titu">
                <p class="titulo"> Escolha seu Plano</p>
            </div>
            <p class="subtitulo">Escolha o plano que mais combina com você</p>
        </div>

        <div class="planos">
            <div class="maresia">
                <img img class="imgPlano"src="CadPlanos/assets/img/guardaSol.png" alt="">
                <p class="nomePlano"></p>
            </div>
            <div class="AguaDeCoco">
                <img img class="imgPlano" src="CadPlanos/assets/img/coco.png" alt="">
                <p class="nomePlano"></p>
            </div>
            <div class="peNaAreia">
                <img class="imgPlano" src="CadPlanos/assets/img/chinelo.png" alt="">
                <p class="nomePlano"></p>
            </div>
        </div>
    </div>
</body>
</html>