<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos</title>
    <link rel="stylesheet" href="/CadPlanos/assets/style.css">
</head>
<body>

    <img src="/CadBarraqueiro/assets/img/logo.png" class="logo">

    <div class="container">
        <div class="titulos">
            <div class="titu">
                <p class="titulo"> Escolha seu Plano</p>
            </div>
            <p class="subtitulo">Escolha o plano que mais combina com você</p>
        </div>

        <div class="planos">
            <div class="maresia">
                <img img class="imgPlano" src="CadPlanos/assets/img/guardaSol.png" alt="">
                <p class="nomePlano">Maresia</p>
            </div>
            <div class="AguaDeCoco">
                <img img class="imgPlano" src="CadPlanos/assets/img/coco.png" alt="">
                <p class="nomePlano">Água de Coco</p>
            </div>
            <div class="peNaAreia">
                <img class="imgPlano" src="CadPlanos/assets/img/chinelo.png" alt="">
                <p class="nomePlano">Pé na Areia</p>
            </div>
        </div>

        <div class="modalPlano">

            <div class="tituloModal">
                <p>Maresia</p>
                <img src="CadPlanos/assets/img/guardaSol.png" width="30px" alt="">
            </div>

            <div class="container-vantagens">
                <ul class="vantagens">
                    <li>Carrinhos Ilimitados</li>
                    <li>Estatisticas a cada 6 meses</li>
                    <li>Comandas digitais e automatizadas</li>
                    <li>Direito a um clube</li>
                </ul>
            </div>

            <div class="tempoPlano">
                <div class="mensal">
                    <input type="radio">
                    <p>Mensal</p>
                </div>
                <div class="semestral">
                    <input type="radio">
                    <p>Semestral</p>
                </div>
                <div class="anual">
                    <input type="radio">
                    <p>Anual</p>
                </div>
            </div>
            <div class="assinar">
                <button class="btn-assinar">Assinar   R$ 29,00</button>
            </div>
        </div>

        <div class="termos">
            <h4 class="check"><input type="checkbox"> <label>Li e concordo com os Termos do Contrato do plano Maresia.</label></h4> 
        </div>

        <div class="btn-teste">
            <button class="btn-compra">Fazer teste grátis</button>
        </div>
    </div>
</body>
</html>