<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/carrinho/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/carrinho/assets/style.css" >
    <title>Carrinho</title>
</head>

<body>

    <img src="/cardapio/assets/img/logo.png" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/cardapio/assets/img/HomeClick.png" >Inicio</a>
            <a href="#" class="active" id="NavReserva"> <img src="/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/cardapio/assets/img/Pedido.png" alt="">Sacola</a>
            <a href="#" class="active" id="NavPerfil"> <img src="/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
          </nav>
    </div>

    <header class="navSup">
        <a href="/inicial"><img src="/cardapio/assets/img/voltar.png" id="voltar"></a>
        <a href=""><img class="Clube" src="/carrinho/assets/img/coroa.png" alt=""></a>
    </header>

    <div class="container">
        <div class="texto">
            <h1>Guarda-Sol</h1>
            <h4>Alugue um kit de cadeiras</h4>
        </div>
        <div class="filter">
            <select name="barraca" id="filter">
                <option id="option" value="">Filtrar</option>
                <option id="option" value="">50 รก 100</option>
                <option id="option" value="">110 รก 150</option>
                <option id="option" value="">160 รก 200</option>
            </select>
        </div>
    </div>


<div class="caixaP">
    
    <% barracas.forEach(barraca => { %>
        <a href="/reserva/<%= barraca.cd_carrinho %>"><div class="caixa">
            <div class="img">
                <img src="/carrinho/assets/img/carrinho.png" alt="Carrinho">
            </div>
            <div class="escrita">
                <h2><%= barraca.nm_carrinho %></h2>
                <p><%= barraca.ds_localizacao %></p>
                <div class="price">
                    <h6>Por 4 cadeiras</h6>
                    <h3>R$ 45,00</h3>
                </div>
            </div>
        </div></a>
    <% }); %>

    <div class="caixaE">
        <div class="escrita">
            <h2>Barraca do Roberto</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga odio est ad repellat eligendi doloribus saepe ullam, sunt quia, eum nisi</p>
            <div class="priceE">
                <h3>R$ 45,00</h3>
                <h6>Por 4 cadeiras</h6>
                
            </div>
        </div>
        <div class="img">
            <img src="/carrinho/assets/img/carrinho2.png" alt="Carrinho">
        </div>
    </div>

    <div class="caixaR">
        <div class="img">
            <img src="/carrinho/assets/img/carrinho.png" alt="Carrinho">
        </div>
        <div class="escrita">
            <h2>Barraca do Roberto</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga odio est ad repellat eligendi doloribus saepe ullam, sunt quia, eum nisi</p>
            <div class="price">
                <h6>Por 4 cadeiras</h6>
                <h3>R$ 45,00</h3>
                
            </div>
        </div>
    </div>

    <div class="caixaE">
        <div class="escrita">
            <h2>Barraca do Roberto</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga odio est ad repellat eligendi doloribus saepe ullam, sunt quia, eum nisi</p>
            <div class="priceE">
                <h3>R$ 45,00</h3>
                <h6>Por 4 cadeiras</h6>
                
            </div>
        </div>
        <div class="img">
            <img src="/carrinho/assets/img/carrinho2.png" alt="Carrinho">
        </div>
    </div>

    <div class="caixaR">
        <div class="img">
            <img src="/carrinho/assets/img/carrinho.png" alt="Carrinho">
        </div>
        <div class="escrita">
            <h2>Barraca do Roberto</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga odio est ad repellat eligendi doloribus saepe ullam, sunt quia, eum nisi</p>
            <div class="price">
                <h6>Por 4 cadeiras</h6>
                <h3>R$ 45,00</h3>
                
            </div>
        </div>
    </div>

    <div class="caixaE">
        <div class="escrita">
            <h2>Barraca do Roberto</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga odio est ad repellat eligendi doloribus saepe ullam, sunt quia, eum nisi</p>
            <div class="priceE">
                <h3>R$ 45,00</h3>
                <h6>Por 4 cadeiras</h6>
                
            </div>
        </div>
        <div class="img">
            <img src="/carrinho/assets/img/carrinho2.png" alt="Carrinho">
        </div>
    </div>
</div>
   


</body>
</html>