<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Notificações</title>
</head>
<body>

    <img src="./assets/img/logo.png" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/cardapio/assets/img/HomeClick.png" >Inicio</a>
            <a href="#" class="active" id="NavReserva"> <img src="/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/cardapio/assets/img/Pedido.png" alt="">Sacola</a>
            <a href="#" class="active" id="NavPerfil"> <img src="/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
          </nav>
    </div>

    <div class="caixa">
        <div class="titulo"><p>Suas Notificacoes</p></div>

        <div class="containers">
            <div class="container">
                <div class="img">
                    <img src="./assets/img/cupom.png" alt="">
                </div>
                <div class="d">
                    <p class="titulo-principal">Novo Cupom</p>
                    <p class="titulo-secundario">Um novo cupom foi adicionado na sua aba de cupom</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>