<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/reserva/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/reserva/assets/style.css" >
    <script src="/reserva/assets/script.js" defer></script>
    <title>Carrinho</title>
</head>

<body>
    <img src="/cardapio/assets/img/logo.png" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/cardapio/assets/img/HomeClick.png" >Inicio</a>
            <a href="#" class="active" id="NavReserva"> <img src="/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/cardapio/assets/img/Pedido.png" alt="">Sacola</a>
            <a href="#" class="active" id="NavPerfil"> <img src="/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
          </nav>
    </div>

    <header class="navSup">
        <a href="/carrinho"><img src="/cardapio/assets/img/voltar.png" id="voltar"></a>
        <a href="/clube"><img class="Clube" src="/reserva/assets/img/coroa.png" alt=""></a>
    </header>

    <section class="imagem">
        <div class="barraca">
            <img src="/reserva/assets/img/barraca.png" alt="">
        </div>
        <div class="selo">
            <a href="/clube"><img src="/reserva/assets/img/coroa.png" alt=""></a>
        </div>
    </section>

    <aside class="line">
        <div class="reserva">
            <h2>Barraca do Roberto</h2>
            <button class="hora">Reservar</button>
        </div>
        <div class="info">
            <div class="valor">
                <h3>R$ 45,00</h3>
                <h5>Por 4 Cadeiras</h5>
            </div>
            <button class="favorito"><img src="/reserva/assets/img/Coração.png" alt=""></button>
        </div>
    </aside>

    <section class="descri">
        <h3>A barraca com os melhores preços, na altura do canal 3, perto da água. Estamos te esperando, venha conhecer a melhor barraca da praia</h3>

        <div class="btns">
            <a href="/cardapio"><button>Cardápio</button></a>
            <button>Clube</button>
        </div>
    </section>

    <section class="Segestão">
        <h4 class="sugtext">Talvez você possa gostar</h4>
        <div class="suges">
            <div class="card">
                <img src="/reserva/assets/img/Barraca1.png" alt="">
                <h3>Barraca da Mila</h3>
            </div>

            <div class="card">
                <img src="/reserva/assets/img/Barraca2.png" alt="">
                <h3>Barraca do Digão</h3>
            </div>

            <div class="card">
                <img src="/reserva/assets/img/Barraca3.png" alt="">
                <h3>PrAiEiRos Beach</h3>
            </div>
        </div>
    </section>

    <div class="app">
        <div class="rating">
            <div class="rating_average">
                <div class="testing">
                <h1>4.5</h1>
                <p>290,291</p></div>
                <div class="star-outer">
                    <div class="star-inner"></div>
                </div>
                
            </div>

            <div class="rating_progress">
                
                </div>
            </div>
        </div>

</body>

</html>